extends _layout

block content
  .text
    .body-text.text-item
      h1
        i.icon-keyboard 
        | KeyZen
      p
        | KeyZen is a fun touch-typing game. Learn while playing!
      button.play-button.js-play-one
        | Start Level 
        i.icon-play-circle
    .level-one-text.level-text.text-item.l1
      p.text-level
        | There was a point to this app, but it has temporarily escaped the developer's mind.
      p.instructions.js-timer (Press 'Enter' to start)
    .stats.l1-stats.text-item
  .keyboard
  i.icon-heart